<div class="contact-fields row align-items-end mb-3" data-new-record="<%= f.object.new_record? %>">
  <div class="col-md-5 mb-2">
    <%= f.select :contact_type,
      [["Selecione um tipo de contato", ""]] + Contact.contact_types.keys.map { |k| [t("activerecord.attributes.contact.contact_types.#{k}"), k] },
      {selected: f.object.contact_type.presence || ""}, class: "form-select" %>
  </div>

  <div class="col-md-5 mb-2">
    <%= f.text_field :value, class: "form-control",
        data: {
          controller: "phone-formatter",
          action: "input->phone-formatter#format blur->phone-formatter#format",
          phone_formatter_target: "phoneField"
        },
        maxlength: 14,
        placeholder: "(00)0000-0000" %>
  </div>
  <div class="col-md-2 d-flex align-items-end mb-2">
    <%= link_to "Remover", "#", class: "btn btn-outline-danger w-100", data: { action: "nested-form#remove" } %>
    <%= f.hidden_field :_destroy if f.object.persisted? %>
  </div>
</div>