<% if proponent_signed_in? %>
 <div> Logado como: <%= current_proponent.email %> </div> 
  <%= button_to "Logoff", destroy_proponent_session_path, method: :delete %> 

  <h1>Proponentes</h1>

  <div>
    <%= link_to "Novo Proponente", new_api_v1_proponent_path, class: "btn btn-primary" %>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>CPF</th>
          <th>INSS</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <%= render @proponents %>
      </tbody>
    </table>
    <%= render partial: 'pagination', locals: { pagination: @pagination } %>
  </div>
<% else %>
  <%= button_to "Login", new_proponent_session_path %> 
  <h1>Faça Login na plataforma para continuar</h1>
<% end %>
